<template id="bodyLayer">
    <section id="debugger-window">
        <el-tabs :value="activeId" type="card" @edit="handleTabsEdit" editable style="height: 200px;">
            <el-tab-pane v-for="tab in tabs" :name="tab.id" :key="tab.id">
                <template #label>
                    <span> <i :class="tab.stateIcon"></i> {{tab.name }}</span>
                </template>

                <el-form ref="tab" :model="tab" size="small" label-width="100px">
                    <el-form-item label="">
                        <el-tag v-if="!tab.connecting && !tab.waiting" type="info" effect="plain">未连接</el-tag>
                        <el-tag v-if="tab.connecting && !tab.waiting" type="success" effect="plain">已连接</el-tag>
                        <el-tag v-if="tab.waiting" type="warning" effect="plain">连接中</el-tag>
                        <el-divider direction="vertical"></el-divider>

                        <el-button @click="()=>tab.handleConnect(true)" :disabled="tab.connecting || tab.waiting"
                            type="success" size="small">连 接</el-button>
                        <el-button @click="()=>tab.handleConnect(false)" :disabled="!tab.connecting || tab.waiting"
                            type="danger" size="small"> 断 开 </el-button>
                        <el-divider direction="vertical"></el-divider>
                        <!--
                            <el-button @click="()=>tab.handleMenu('parsed')" :disabled="!tab.connecting || tab.waiting"
                                size="small" plain round>已解析</el-button>
                            <el-button @click="()=>tab.handleMenu('print')" :disabled="!tab.connecting || tab.waiting"
                                size="small" plain round>输出信息</el-button>
                        -->
                        <el-button @click="()=>tab.handleMenu('save')" size="small" type="primary" :plain="tab.saved"
                            round> 保存配置
                        </el-button>
                        <el-button @click="()=>tab.handleMenu('remove')" :disabled="!tab.saved" size="small"
                            type="danger" plain round>删除配置
                        </el-button>
                        <el-divider direction="vertical"></el-divider>
                    </el-form-item>

                    <el-form-item label="名称">
                        <el-input v-model="tab.name" :disabled="tab.connecting" size="small" maxlength="30"
                            show-word-limit></el-input>
                    </el-form-item>

                    <el-form-item label="调试地址">
                        <el-col :span="20">
                            <el-input v-model="tab.hostname" :disabled="tab.connecting" placeholder="hostname"
                                size="small" maxlength="15">
                            </el-input>
                        </el-col>
                        <el-col :span="4">
                            <el-input-number v-model="tab.port" :disabled="tab.connecting" controls-position="right"
                                :min="1" :max="65535" placeholder="port">
                            </el-input-number>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="自动重连">
                        <el-col :span="2">
                            <el-switch v-model="tab.reconnect" @change="(stat)=>tab.handleReconnect(stat)"></el-switch>
                        </el-col>
                        <el-col :span="4">
                            <el-input-number v-model="tab.reconnectTime" :disabled="!tab.reconnect"
                                controls-position="right" :min="200" :max="60000" placeholder="interval time">
                            </el-input-number>
                        </el-col>
                    </el-form-item>

                    <el-form-item label="监听路径" size="small">
                        <el-input v-model="tab.watchPath" :disabled="tab.connecting">
                            <template #append>
                                <el-button @click="()=>tab.handleOpenDirectory()" :disabled="tab.connecting"
                                    icon="el-icon-folder"></el-button>
                            </template>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="文件类型">
                        <el-checkbox-group v-model="tab.fileTypes" :disabled="tab.connecting">
                            <el-checkbox label=".js"></el-checkbox>
                            <el-checkbox label=".js.txt"></el-checkbox>
                            <el-checkbox label=".jsx"></el-checkbox>
                            <el-checkbox label=".cjs"></el-checkbox>
                            <el-checkbox label=".json"></el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>

                    <el-form-item label="启动检查">
                        <el-col :span="2">
                            <el-switch v-model="tab.checkOnStartup" :disabled="tab.connecting"></el-switch>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="输出信息">
                        <el-col :span="2">
                            <el-switch v-model="tab.trace" :disabled="tab.connecting"></el-switch>
                        </el-col>
                    </el-form-item>

                    <el-form-item label="自定义脚本">
                        <el-input v-model="tab.customScript" :disabled="tab.connecting" placeholder="javascript code"
                            type="textarea" rows="4" :autosize="false"></el-input>
                    </el-form-item>

                    <el-form-item label="">

                    </el-form-item>

                </el-form>

            </el-tab-pane>
        </el-tabs>
    </section>
</template>