# *.meta
/test/dotnet/vsauto
/test/dotnet/Src/StaticWrapper
/test/unity/**/*.meta
/test/unity/build*
/test/unity/Library
/test/unity/Logs
/test/unity/Packages
/test/unity/Temp
/test/unity/ProjectSettings
/test/unity/UserSettings
/test/unity/.vsconfig
/test/unity/unity.sln
/test/unity/Assembly-CSharp.csproj
/Assets/**/*.meta
/native_src/.backends
/native_src/puerts-cpp-tester
/native_src/build*
/native_src_il2cpp/.backends
/native_src_il2cpp/puerts-cpp-tester
/native_src_il2cpp/build*
/node_modules