*.meta
/test/dotnet/vsauto*
/test/dotnet/Src/StaticWrapper
/test/unity/Assets/Resources/*.meta
/test/unity/Assets/*.meta
/test/unity/Assets/Gen
/test/unity/Assets/Plugins
/test/unity/build*
/test/unity/Library
/test/unity/Logs
/test/unity/Temp
/test/unity/ProjectSettings
/test/unity/UserSettings
/test/unity/.vsconfig
/test/unity/obj
/test/unity/unity.sln
/test/unity/*.csproj
/test/unity/log.txt
/test/Src/**/*.meta
/test/nuget/nuget-packages
/test/nuget/projects/bin
/test/nuget/projects/obj
/test/nuget/projects/packages
/nuget/*/bin
/nuget/*/obj
/nuget/*/packages
/native/*/.backends
/native/*/build*
/native/papi-python/python*android
/upms/webgl/Javascripts~/PuertsDLLMock/output
node_modules
*.so
*.so~
*.a
*.bundle
*.dylib
*.dll
*.pdb
.idea
/Library/
/Logs/
/Packages/
/ProjectSettings/
/*.sln
/*.csproj
/Temp/
/UserSettings/
/Assets/Gen/
.vs
/.vsconfig
/obj/