<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- 禁用全局包文件夹，强制从源重新下载 -->
    <add key="globalPackagesFolder" value="packages" />
  </config>
  
  <packageSources>
    <clear />
    <!-- 添加你的本地 NuGet 包源路径，请根据实际情况修改 -->
    <add key="Local" value="..\nuget-packages" />
    <!-- 添加官方源用于其他依赖包 -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources></configuration>
