name: build windows unity plugin

inputs:
  backend:
    description: 'js backend'     
    required: true
  config:
    type: choice
    description: Release Or Debug
    default: 'Release'
    options:
    - Release
    - Debug
  arch:
    type: choice
    description: building arch
    default: 'auto'
    options:
      - auto
      - x64
      - ia32
  GITHUB_TOKEN:
    required:

runs:
  using: "composite"
  steps:
    - name: Build
      shell: powershell
      run: |
        cd unity
        npm i
        cd native_src
        node ../cli make --platform win --backend ${{ inputs.backend }} --config ${{ inputs.config }} --arch ${{ inputs.arch }}
    - name: Upload
      uses: actions/upload-artifact@v3
      with:
        path: ./unity/Assets/core/upm/Plugins/**/*
        name: Unity_Plugins (${{ inputs.backend }}_${{ inputs.config }})
    - name: Clean
      shell: bash
      run: rm -rf ./unity/Assets/core/upm/Plugins/**/*