name: publish-upm

on: 
  workflow_dispatch:

env:
  RUNID: 613573412

jobs:
  Setup_UPM_Branch:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      - name: Clear branch
        run: |
          git branch -D upm &> /dev/null || echo upm branch not found
      - name: Download V8 Plugin
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: publish.yml
          name: Unity_Plugins_Quickjs
          path: package/Runtime/Plugins/
      - name: Download Nodejs Plugin
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: publish.yml
          name: Unity_Plugins_Nodejs
          path: package/Editor/Plugins/
      - name: Copy Source
        run: |
          cp -r unity/Assets/Puerts/Typing package/
          mkdir -p package/Runtime/Src
          cp unity/Assets/Puerts/Src/*.cs package/Runtime/Src/
          mkdir -p package/Runtime/Resources
          cp -r unity/Assets/Puerts/Src/Resources/**/* package/Runtime/Resources
          mkdir -p package/Editor/Src
          cp unity/Assets/Puerts/Src/Editor/*.cs package/Editor/Src/
          mkdir -p package/Editor/Resources
          cp -r unity/Assets/Puerts/Src/Editor/Resources/**/* package/Editor/Resources
          cp LICENSE README.MD package
          git subtree split -P package -b upm
          git checkout upm
          git push -f origin upm