name: unity build plugins

on: 
  workflow_dispatch:
    inputs:
      websocket:
        type: choice
        options:
        - "0"
        - "1"
        - "2"
        - "3"
        default: '1'
  push:
    paths: 
      - unity/native_src/**
      - unity/cli/**
      - unreal/Puerts/Source/JsEnv/Private/V8InspectorImpl.cpp
      - unreal/Puerts/Source/JsEnv/Private/V8InspectorImpl.h
      - unreal/Puerts/Source/JsEnv/Private/PromiseRejectCallback.hpp
      - unreal/Puerts/ThirdParty/**
      - .github/workflows/unity_build_plugins.yml

env:
  RUNID: 613573412

jobs:
  android:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: Install NDK
        shell: bash
        run: |
          cd ~
          rm -rf ~/android-ndk-r21b
          wget -O NDK -q https://dl.google.com/android/repository/android-ndk-r21b-linux-x86_64.zip
          sudo apt install unzip -y
          unzip -q NDK
      - name: BuildAndroid
        uses: ./.github/workflows/composites/unity-build-plugins/android/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: v8_9.4.146.24
      - name: BuildAndroid_V8_10_6
        uses: ./.github/workflows/composites/unity-build-plugins/android/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: v8_10.6.194
          websocket: ${{ github.event.inputs.websocket || '1' }}
      - name: BuildAndroidQuickJS
        uses: ./.github/workflows/composites/unity-build-plugins/android/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: quickjs
      - name: BuildAndroidNodeJS
        uses: ./.github/workflows/composites/unity-build-plugins/android/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: nodejs_16
      - name: BuildAndroidMultBackend
        uses: ./.github/workflows/composites/unity-build-plugins/android/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: mult
          
  ohos:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: Install NDK
        shell: bash
        run: |
          cd ~
          curl -O https://repo.huaweicloud.com/harmonyos/os/4.1-Release/ohos-sdk-windows_linux-public.tar.gz
          tar xvfz ohos-sdk-windows_linux-public.tar.gz
          cd ohos-sdk/linux
          unzip -q -o -d ./ native-linux-x64-4.1.7.5-Release.zip
      - name: BuildOHOS
        uses: ./.github/workflows/composites/unity-build-plugins/ohos/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: v8_9.4.146.24
      - name: BuildOHOS_V8_10_6
        uses: ./.github/workflows/composites/unity-build-plugins/ohos/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: v8_10.6.194
          websocket: ${{ github.event.inputs.websocket || '1' }}
      - name: BuildOHOSQuickJS
        uses: ./.github/workflows/composites/unity-build-plugins/ohos/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: quickjs
      - name: BuildOHOSMultBackend
        uses: ./.github/workflows/composites/unity-build-plugins/ohos/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: mult

  ios:
    runs-on: macos-13

    steps:
      - uses: actions/checkout@v3
      - name: BuildiOS
        uses: ./.github/workflows/composites/unity-build-plugins/ios/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: v8_9.4.146.24
      - name: BuildiOS_V8_10_6
        uses: ./.github/workflows/composites/unity-build-plugins/ios/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: v8_10.6.194
          websocket: ${{ github.event.inputs.websocket || '1' }}
      - name: BuildiOSQuickjs
        uses: ./.github/workflows/composites/unity-build-plugins/ios/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: quickjs
      - name: BuildiOSNodeJS
        uses: ./.github/workflows/composites/unity-build-plugins/ios/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: nodejs_16
      - name: BuildiOSMultBackend
        uses: ./.github/workflows/composites/unity-build-plugins/ios/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: mult

  osx:
    runs-on: macos-13

    steps:
      - uses: actions/checkout@v3
      - name: BuildOSX
        uses: ./.github/workflows/composites/unity-build-plugins/osx/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: v8_9.4.146.24
      - name: BuildOSX_V8_10_6
        uses: ./.github/workflows/composites/unity-build-plugins/osx/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: v8_10.6.194
          websocket: ${{ github.event.inputs.websocket || '1' }}
      - name: BuildOSXNodejs
        uses: ./.github/workflows/composites/unity-build-plugins/osx/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: nodejs_16
      - name: BuildOSXQuickJS
        uses: ./.github/workflows/composites/unity-build-plugins/osx/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: quickjs
      - name: BuildOSXMultBackend
        uses: ./.github/workflows/composites/unity-build-plugins/osx/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: mult

  windows:
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v3
      - name: BuildWindows
        uses: ./.github/workflows/composites/unity-build-plugins/windows/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: v8_9.4.146.24
      - name: BuildWindows_V8_10_6
        uses: ./.github/workflows/composites/unity-build-plugins/windows/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: v8_10.6.194
          websocket: ${{ github.event.inputs.websocket || '1' }}
      - name: BuildWindowsQuickjs
        uses: ./.github/workflows/composites/unity-build-plugins/windows/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: quickjs
      - name: BuildWindowsNodeJS
        uses: ./.github/workflows/composites/unity-build-plugins/windows/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: nodejs_16
      - name: BuildWindowsMultBackend
        uses: ./.github/workflows/composites/unity-build-plugins/windows/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: mult

  linux64:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: BuildLinux
        uses: ./.github/workflows/composites/unity-build-plugins/linux/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: v8_9.4.146.24
      - name: BuildLinux_V8_10_6
        uses: ./.github/workflows/composites/unity-build-plugins/linux/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: v8_10.6.194
          websocket: ${{ github.event.inputs.websocket || '1' }}
      - name: BuildWindowsQuickjs
        uses: ./.github/workflows/composites/unity-build-plugins/linux/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: quickjs
      - name: BuildLinuxNodeJS
        uses: ./.github/workflows/composites/unity-build-plugins/linux/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: nodejs_16
      - name: BuildLinuxMultBackend
        uses: ./.github/workflows/composites/unity-build-plugins/linux/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: mult
          
  wasm:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: BuildWasm
        uses: ./.github/workflows/composites/unity-build-plugins/wasm/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: quickjs