name: unity unittest

on: 
  workflow_dispatch:
  push:
    paths: 
      - unity/Assets/**
      - unity/dotnet-test/**
      - unity/native_src/**
      - unity/native_src_ourv8/**
      - unreal/Puerts/Source/JsEnv/Private/V8InspectorImpl.cpp
      - unreal/Puerts/Source/JsEnv/Private/V8InspectorImpl.h
      - unreal/Puerts/Source/JsEnv/Private/PromiseRejectCallback.hpp
      - .github/workflows/unity-unittest.yml
  
env:
  RUNID: 613573412

jobs:
  unittest-win-v8:
    runs-on: windows-2019

    steps:
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.x.x'
      - uses: actions/checkout@v3
      - name: Build
        uses: ./.github/workflows/composites/unity-build-plugins/windows/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: v8_9.4
          config: Debug
          arch: x64
      - name: UnitTest
        run: |
          cd unity
          npm i
          cd dotnet-test
          node ../cli dotnet-test v8_9.4
  unittest-win-quickjs:
    runs-on: windows-2019

    steps:
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.x.x'
      - uses: actions/checkout@v3
      - name: Build
        uses: ./.github/workflows/composites/unity-build-plugins/windows/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: quickjs
          config: Debug
          arch: x64
      - name: UnitTest
        run: |
          cd unity
          npm i
          cd dotnet-test
          node ../cli dotnet-test quickjs
          
  unittest-win-nodejs:
    runs-on: windows-2019

    steps:
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.x.x'
      - uses: actions/checkout@v3
      - name: Build
        uses: ./.github/workflows/composites/unity-build-plugins/windows/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: nodejs_16
          config: Debug
          arch: x64
      - name: UnitTest
        run: |
          cd unity
          npm i
          cd dotnet-test
          node ../cli dotnet-test nodejs_16

  unittest-osx-v8:
    runs-on: macos-latest

    steps:
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.x.x'
      - uses: actions/checkout@v3
      - name: Build
        uses: ./.github/workflows/composites/unity-build-plugins/osx/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: v8_9.4
          config: Debug
          arch: x64
      - name: UnitTest
        run: |
          cd unity
          npm i
          cd dotnet-test
          node ../cli dotnet-test v8_9.4
  unittest-osx-quickjs:
    runs-on: macos-latest

    steps:
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.x.x'
      - uses: actions/checkout@v3
      - name: Build
        uses: ./.github/workflows/composites/unity-build-plugins/osx/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: quickjs
          config: Debug
          arch: x64
      - name: UnitTest
        run: |
          cd unity
          npm i
          cd dotnet-test
          node ../cli dotnet-test quickjs
          
  unittest-osx-nodejs:
    runs-on: macos-latest

    steps:
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.x.x'
      - uses: actions/checkout@v3
      - name: Build
        uses: ./.github/workflows/composites/unity-build-plugins/osx/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          backend: nodejs_16
          config: Debug
          arch: x64
      - name: UnitTest
        run: |
          cd unity
          npm i
          cd dotnet-test
          node ../cli dotnet-test nodejs_16
